<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body_block %}

    <form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button style="border-radius: 10px;background-color: black;color: beige;"  type="submit" class="save btn btn-default">Save</button>  
</form> 




    {% endblock %}
</body>
</html>