.contain {
    float:left;
    background-color: rgba(255, 255, 255, .15);
    width: 70%;
    margin-left:0px;
   }

   .contain {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(9px);
    text-align: left;
   }
